.header-container {
	margin-bottom: 10px;
}

#logo {
	width: 50px;
	height: 50px
}

#logoText {
	width: 300px;
	height: 30px;
}

.header-container #logo, #logoText {
	display: inline-block;
}

.search-container {
	margin-top: 10px;
}

.cart-container {
	margin-top: 10px;
}

.footer-link {
	margin-top : 5px;
}

.login-container {
	background-color: rgb(226, 226, 226);
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.login-form-container {
	border-color: rgb(226, 226, 226);
}

#stalk-container {
	margin-top: -28px;
	margin-left: -2px;
}

#header-pos {
	margin-top: 5px;
	text-align: center;
}

#bottom-container {
	margin-top: 60px;
}

#language {
	float: right;
}

#product-id-name {
	font-size: 18px;
}

#category-list li {
	border-radius: 0px;
}

.top-view {
	margin-top: 5px;
}

.category-container {
	padding-left: 10px;
}

.table > thead > tr > th {
	text-align: center;
}

.table > tbody > tr > td {
	vertical-align: middle;
}

.table > tbody > tr > td {
	margin-right: 0px;
}

table {
	border-collapse: collapse;
	margin-right: 0px;
}

.viewcart-container h1, button {
	display: inline;
}

.viewcart-container > h1 {
}

.viewcart-container > button {
	border: 0px;
}

/* modal to center */

.modal {
  text-align: center;
}

@media screen and (min-width: 768px) { 
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}